{% load static %}
<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static "portfolio/Logo.png" %}">

  <title>Zhivokost</title>
</head>

<body>
  <nav id="topNav" class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static "portfolio/Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
      <span>Илья "zhivokost" Петров</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a role="button" href="{% static 'portfolio/UC-5bf9f328-c70d-4f1a-b432-1e8a26cb6cd2.pdf'  %}" class="btn btn-primary">Резюме</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/nick-walter/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/ZappyCode" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'blog:all_blogs' %}">Блог</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {% block content %} {% endblock %}
</div>

<footer>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
      <ul class="navbar-nav ml-auto mr-5">
        <!-- <span class="navbar-text py-3 mr-3">Мои контакты:   </span> -->
        <li class="nav-item">
            <a class="navbar-text py-3" href="https://t.me/ilya_petrov36" target="_blank">Telegram</a>
    	      <a class="telegram-number" href="https://t.me/ilya_petrov36" target="_blank"></a>
        </li>
        <li class="nav-item">
            <a class="navbar-text py-3" href="skype:live:.cid.22bcf285883d1090?chat" target="_blank">Skype</a>
            <a class="skype-number" href="skype:live:.cid.22bcf285883d1090?chat" target="_blank"></a>
        </li>
      </ul>
  </nav>
</footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
