.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: green !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.telegram-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(tg-image-color.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}

.skype-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 30px 5px 20px;
  background: url(skype.png) no-repeat center top / cover;
  transition: 0.5s ease-in-out;
}
